.title
{
    text-align: center;
}
#board
{
    display:block;
    margin: 50px auto;
    /* width: 450px;
    height:450px; */
    background-color: #e7be72;

}
#btn
{
    display:block;
    margin:0 auto;
    width:100px;
    background-color:#2e75f8;
    color:white;
    border-radius:10px;
}

#scoreBoard
{
    text-align: center;
    display: block;
    font-weight: bold;
}

#imgsc
{
    font-weight: bold;
    font-size: 28px;
}

div.ai_controls{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
}

button.aiSwitch{
	color: white;
	background-color: blue;
	border-radius: 10px;
}

button.aiSwitch:hover{
	color: darkslateblue;
	background-color: powderblue;
	
}

p.warning{
	color: red;
	font-family: monospace;
}

p.dWarning{
	color: red;
	font-family: monospace;
}

div.debugger{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
}

button.dbtn{
	color: white;
	background-color: darkred;
	border-radius: 10px;
}

button.dbtn:hover{
	background-color: red;
}

